.container
  .row
    .col-sm-12
      .text-center
        %h1= "Code #{@turn.game.code}"
  .row.justify-content-center
    .col-sm-8
      %table.table.lobby-table
        %tr
          %th
            Field
          %th
            Player name
          %th
        - @turn.slot.times do |index|
          %tr
            - if @current_slot == index
              %td
              %td
                %input{ type: 'field', class: 'player1-name input-player-name', placeholder: 'Insert your name', value: session[:me]['player'] ? session[:me]['player']['name'] : '' }
              %td
                %button.btn-table= 'Ready!'
            - else
              %td{ colspan: 3 }
                Waiting for other players

