.container
  .row
    .col-sm-12
      .text-center
        %h1= "Code #{@turn.game.code}"
  .row.justify-content-center
    .col-sm-8
      %table.table.lobby-table
        %tr
          %th
            Field
          %th
            Player name
          %th
        - if @turn.game.player1
          %tr
            %td
            %td
              - @turn.game.player1&.name
            %td
              READY
        - else
          %tr
            %td
            %td
              %input{type: 'field', class: 'player1-name input-player-name', placeholder: 'Insert your name'}
            %td
              %button.btn-table= 'Ready!'
        - if @turn.game.player2
          %tr
            %td
            %td
              - @turn.game.player2&.name
            %td
              READY
        - elsif @turn.game.player1
          %tr
            %td
            %td
              %input{type: 'field', class: 'player1-name input-player-name', placeholder: 'Insert your name'}
            %td
              %button.btn-table= 'Ready!'
        - else
          %tr
            %td.text-center{colspan: 3}
              Please wait...

