.container.h-100
  .row.align-items-center.h-100
    .col-sm-12.text-center
      .font-logo
        Clutch
      = link_to 'New game', games_path, class: 'btn-new-game', method: :post
      = link_to 'Join game', games_select_path, class: 'btn-new-game'