@import 'bootstrap';
@import 'frame';
@import 'new_game';

@font-face {
  font-family: 'RumbleBrave';
  src:font-url('rumble_brave.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}